{% extends "bootstrap/base.html" %}

{% block meta %}
super()
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="crowdfunding, weatherhaed, hockey, hockey club, hockey Uganda, Hockey kampala">
<meta name="author" content="Benon Lukyamuzi">
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="{{ url_for('static', filename = 'core.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'IE.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}

{% block navbar %}
<div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Weatherhaed</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('main.index') }}">Home</a></li>
              <li><a href="{{ url_for('main.crowdfunding') }}">Crowd</a></li>
              <li><a href="{{ url_for('main.platform') }}">Platform</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
<br> <br>
{% endblock %}

{% block footer %}
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017 Weatherhaed Hockey Club. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename = 'core.js') }}"></script>
{{ moment.include_moment() }}
{% endblock %}