{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'stories.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} Crowdfunding | Weatherhead {% endblock %}

{% block content %}
{{ super() }}
<div class="container">
        
              <div class="blog-header">
                <h1 class="blog-title">Raising 200,000 USD</h1>
                <p class="lead blog-description">
                   
                  
                </p>
              </div>
        
              <div class="row">
        
                <div class="col-sm-8 blog-main">
        
                  <div class="blog-post">
                    <h2 class="blog-post-title">The Power of a Crowd</h2>
                    <p>In the last year alone, there has been over 1 million
                       successful campaigns raising over 2.67 billion USD from the different
                      
                      platforms around the world <br>
                      Join the weatherhaed crowd of backers by filling this <a href="http://bit.ly/whc-campaign"> <strong>FORM</strong> </a>
                      <br>Let's start building our success story today.
                    </p>

                    <p class="blog-post-meta">October 14, 2017 by <a href="http://bit.ly/lukya">Ben Lukyamuzi</a></p>
                    <h2>Why Crowdfunding</h2>
                    <p>200,000 USD is a huge chunk of money, by simple
                      calculation, even if each one of us in weatherhaed gave up their annual salary,
                        we wouldn't raise that money in 3 years.
                        But we don't have to because with Crowdfunding, everyone that backs our cause contributes 
                        just what they
                        can afford and collectively we move a whole lot faster.
                    </p>
                    <br>
                    <h3>So What is our Immediate need?</h3>
                    <p> <strong>YOU ARE</strong> the person reading this, we need you first. <br>
                      78% of Successful campaigns raise 30% of their target amount from their inner circles.
                      Which means, you are the immediate lifeline to this cause.
                      But that doesn't mean that you have to contribute a huge chunck of money.
                      It means that you help us reach your inner circles.  
                    </p>
                    <h3> How Can We contribute or Back the campaign</h3>
                    <p>When the campaign launches, you and your friends will be able to contribute to
                      Weatherhaed's cause through a number of the ways listed further bellow. <br>
                      However, first things first, join the weatherhaed community committed to the cause by filling this
                      <a href="http://bit.ly/whc-campaign"> <strong>FORM</strong> </a>
                    </p>
                    <ul>
                      
                      <li>PayPal</li>
                      <li>Any Debit and Credit Card</li>
                      <li>Mobile Money</li>
                    </ul>
                  </div><!-- /.blog-post -->
    

            </div><!-- /.container -->
{% endblock %}