{% extends "base.html" %}

{% block title %} Info | Weatherhead {% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="jumbotron">
      <h1>Weatherhead at 20</h1>
      <p class="lead">Celebrating 20 years came with an idea of building a sustainable home of our own.
         And that needs about <strong>200,000 USD</strong> to get us a really good place. But the question is how do we 
         get all that money in a short time? 
         Well, I made this to show you how...

      </p>
    </div>
  </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{{ url_for('static' , filename = 'images.jpg') }}" alt="Generic placeholder image" width="140" height="140">
          <h2>CrowdFunding</h2>
          <p>Raising 200,000 USD doesn't mean that each one of us has to contribute a huge chunk of money, it means 
            that you contribute a small amount and then make everyone else you know do the same. Which is more or less like a campaign <br>
            But since we can't do that by word of mouth, we need a platform with the Auditability, Traceability, Workflow control and 
            security to manage the campaign for us.
          
          </p>
          <p><a class="btn btn-default" href="{{ url_for('main.crowdfunding') }}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ url_for('static' , filename = 'pledge.jpg') }}" alt="Generic placeholder image" width="140" height="140">
          <h2>Platform</h2>
          <p>Facebook the world's largest media owner does not create any content, Uber, the world's
             largest taxi company
             doesn't own any cars, Alibaba, the world's most valuabale retailer does not own any inventories. <br>
            All those companies own nothing but a Platform and that's 
            how influential platforms have become in modern times
          </p>
          <p><a class="btn btn-default" href="{{ url_for('main.platform') }}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ url_for('static' , filename = 'partner.jpg') }}" alt="Generic placeholder image" width="140" height="140">
          <h2>What we Need</h2>
          <p>So, we have a the crowd and we have the platform <br>
            But we still need a couple of things to get going. And the first thing we need is your support. Back us and enable 
            Weatherhead build a new home. Let's commemorate 20 years with an achievement that is just steps away
          </p>
          <p><a class="btn btn-default" href="{{ url_for('main.required') }}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
