{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'stories.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} Platform | Weatherhead {% endblock %}



{% block content %}
{{ super() }}
<div class="container">
        
              <div class="blog-header">
                <h1 class="blog-title">The Platform</h1>
                <p class="lead blog-description">Because no one shouts better than the internet</p>
              </div>
        
              <div class="row">
        
                <div class="col-sm-8 blog-main">
        
                  <div class="blog-post">
                    <h2 class="blog-post-title">Harnessing an Effecient Platform</h2>
                    <p class="blog-post-meta">October 14, 2017 by <a href="http://bit.ly/lukya">Ben Lukyamuzi</a></p>
        
                 
                    <blockquote>
                      <p> Alibaba could seem like a genious invention. But plainly,
                          the founders knew that there were millions of customers who wanted to 
                          buy from markets they could not access, and thousands of merchants that wanted to sell to customers 
                          they could not access. <br> The rest is history. Now we know that Alibaba, a mere platfom is the 
                          world's most valuable retailer
                          
                      </p>
                    </blockquote>
                    <br> <br>
                    <h2>So Why do we need a platform?</h2>
                    <br>
                    <h3>First, meet Fatumah</h3>
                    <p> A reknown and committed Weatherheader who tried to raise funds for 
                        one of our teammates when she needed to access better medical care. <br>
                        Her model was crowdfunding, get a little something from everyone till she meets the required amount.
                        <br> Great way, Right?. But her means were crude. She was brute forcing her way 
                        through everything. And in case She didn't tell you how tiring that was, Let me shed some light 
                        on it. She had to manually remind everyone.
                        If she needed to know who sent what amount, there was no automated way of telling hence
                         Accountability must have been hectic.
                       She lacked the workflow and traceability to make 
                        her life easier
                        
                

                    </p>
                    <br>
                    <h3>But you might say, That worked..</h3>
                    <p>Well she needed to raise just about 1,500 USD. Which is a rather convenient ammount
                        to raise by brute force means.
                        Given we need upto 200,000 USD, We need a way to Learn faster, adopt better and reach more people
                        easily and faster while taking into account time and costs. <br>
                        Better still, we need a way of engaging people who have never heard about Weatherhaed
                       
                        
                    </p>
                     <br>
                    <h3>So What is next?</h3>
                    <blockquote>
                    <p> First, let me tell you that there are crowdfunding platforms all around the world that we
                      could pitch to. Indiegogo and Kickstarter are amazing platforms 
                      with an amazingly huge turn up of funders and backers monthly.
                      <br>They have the tools and means with over hundreds of thousands of success stories.
                      Entreprenuers have moved from Idea to Shipping in about just 40 days on such platforms.
                      <br> Some projects have gotten funded upto 6,000% of their initial set target simply because they 
                      pitched their campaign the right way and people loved them
                    </blockquote>
                    </p>
                    <p>Unfortunately as amazing as that sounds, Weatherhaed 
                      can't Pitch a campaign on any of those platforms</p>
                      <br> <br>
                    <h3>Why So?</h3>  
            
                      <ul>
                      <li> First, the expenses are too high, to pitch a 100,000 USD campiagn, we will need to part of with
                      5,000 USD, with campaigning costs raising the figure to about 6,000 - 7,000 USD</li>
                      <li>We will have to miss out on all contributions coming in from mobile money </li>
                    </ul>
                    <br>
                    <h3>So here is the Ninja way </h3>
                    <p>We make our platform and customize it to meet our all our needs.

                      <br>We just aren't adding a mobile money capabilities, we creating an online community of Weatherhaeders,
                      We are profiling our club and everything Wetherhaed for the last 20 years.
                      <br>We are creating an online presence for ourselves, a digital print of the club we all love.
                      Something I feel could be a gateway to endless opportunities
                    
                    </p>
                    <br>
                    <h3>Last Mile</h3>
                    <p>The platform already has two commited developers, who are enough to enable us 
                      realise everything we need. <br>However, anyone is welcome to contribute.
                      Wondering how you could help? . Contact me <a href="mailto:lukamuzibenon@gmail.com">Here</a>
                    </p>

        
            </div><!-- /.container -->
{% endblock %}