{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'stories.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}

<div class="container">
        
              <div class="blog-header">
                <h1 class="blog-title">The Bootstrap Blog</h1>
                <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
              </div>
        
              <div class="row">
        
                <div class="col-sm-8 blog-main">
        
                  <div class="blog-post">
                    <h2 class="blog-post-title">What Do We Need?</h2>
                    <p class="blog-post-meta">October 14, 2017 by <a href="bit.ly/lukya">Ben Lukyamuzi</a></p>
        
                    <p>So far we have established that we need the Crowd, Something each one of us can help with
                        backing our cause. <br>
                        Then we know that we need an excellent platform. And for that, we lucky t have
                        two developers committed to the project and those are just enough.
                
                    </p>
                    <!-- 
                    <hr>
                    <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                    <blockquote>
                      <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </blockquote>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p> -->
                    <h2>So What do We Need?</h2>
                    <p>First we need everyone and we also need everyone that you know is capable 
                        of contributing a dollar or more to our cause
                        Since it can be a challenge keeping up with getting to your circles and rightfully
                        returning their contacts to us, I made this Google Form so everyone could have 
                        their contacts stored in a central place <a href="bit.ly/lukya">Get started</a>
                    </p> <br>
                    <h3>Sub-heading</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <pre><code>Example code block</code></pre>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                    <h3>Everyone's input</h3>
                    <p>Running a Successful campaign is theoretically not a big challenge. But practically
                        its draining, and very tiresom. Which is why we need everyone's input 
                        We need marketers, strategists, backers, content creators, designers, and bankers. But above it 
                        all we need the Financial momentum to get the platform up
                        
                    </p>

                    <h3> Last Mile </h3>
                    <ul>
                      <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                      <li>Donec id elit non mi porta gravida at eget metus.</li>
                      <li>Nulla vitae elit libero, a pharetra augue.</li>
                    </ul>
                    
        
            </div><!-- /.container -->

{% endblock %}