{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'stories.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} YOU | Weatherhead {% endblock %}

{% block content %}
{{ super() }}

<div class="container">
        

              <br> <br> <br>
        
              <div class="row">
        
                <div class="col-sm-8 blog-main">
        
                  <div class="blog-post">
                    <h2 class="blog-post-title">What Do We Need?</h2>
                    <p class="blog-post-meta">October 14, 2017 by <a href="bit.ly/lukya">Ben Lukyamuzi</a></p>
        
                    <p>So far we have established that we need the Crowd to back our cause. And each one 
                      of us has the ability to do that.
                        <br>
                        Then we know that we need an excellent platform. And for that, we lucky to have
                        two developers committed to the project and those are just enough. <br>So do we have it all?
                
                    </p>
                    
                    <h2>Not yet. And here is the way to go</h2>
                    <p>First we need everyone and we also need everyone that you know is capable 
                        of contributing a dollar or more to our cause
                        Since it can be a challenge keeping up with getting to your circles and rightfully
                        returning their contacts to us, I made this Google Form so everyone could have 
                        their contacts stored in a central place <a href="bit.ly/whc-campaign">Get started</a>
                    </p> <br>
 
                    <h3>Everyone's input</h3>
                    <p>Running a Successful campaign is theoretically not a big challenge. But practically
                        its draining, and very tiresom. Which is why we need everyone's input. 
                        <br>Wondering where you ca start,
                         fill this form if you havent yet filled it. <a href="bit.ly/whc-campaign">Get started</a>

                    </p>

                    <h3> Last Mile </h3>
                    Weatherhaed needs each one of us. <br>And you could fall in any of the following categories.
                    <ul>
                      <li>Content creators</li>
                      <li>Social media ninjas</li>
                      <li>Publicity people</li>
                    </ul>
                    
                  <p>Wondering how you could help, kindly contact me <a href="mailto:lukamuzibenon@gmail.com">Here</a></p>
        
            </div><!-- /.container -->

{% endblock %}